{% extends "auctions/layout.html" %}

{% block body %}
    
    <h2>Listing: {{ listing }}</h2>

    <!--Watchlist logic-->
    {% if user.is_authenticated %}

        {% if listing.listed_by != request.user %}
            <form method="post" action="{% url 'toggle_watchlist' listing.id %}">
                {% csrf_token %}
                {% if in_watchlist %}
                    <input type="submit" value="Remove from Watchlist" class="btn btn-danger">
                {% else %}
                    <input type="submit" value="Add to Watchlist" class="btn btn-primary">
                {% endif %}
            </form>
        {% endif %}

    {% endif %}
    
    <!--Listing Photo-->
    <div>
        <img src="{{ listing.photo.url }}" alt="{{ listing }}" width="auto" height="400px" class="listing-img">
        <p>{{ listing.description }}</p>
        <h2>${{ listing.current_bid }}</h2>
    </div>

    <!--Checking if the listing is active-->
    {% if listing.is_active %}

        <!--Bid logic-->
        {% if user.is_authenticated %}
            <div>
                <!--Bid details-->
                <small> 
                    {{ bids|length }} bid(s) so far. 
                    {% if current_highest_bid %}
                        {% if current_highest_bid.user == user %}
                            Your bid is the current bid.
                        {% else %}
                            <strong>{{ current_highest_bid.user }}</strong> has the current highest bid.
                        {% endif %}
                    {% endif %}
                </small>
                
                <!--Error message-->
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if listing.listed_by != request.user %}
                    <!--Bid form-->
                    <form method="post" action="{% url 'bid' listing.id %}">
                        {% csrf_token %}
                        {{ bid_form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Place Bid">
                    </form>
                {% else %}
                    <form method="post" action="{% url 'close_auction' listing.id %}">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Close Auction">
                    </form>
                {% endif %}
            </div>
        {% endif %}

    <!--Auction Closed-->
    {% else %}
        {% if listing.winning_user == request.user %}
            <div class="alert alert-success winner-auction-sign">
                <h4>You Won!</h4>
                <p>Congratulations for winning the auction.</p>
            </div>
        {% else %}
            <div class="alert alert-warning closed-auction-sign">
                <h4>Auction Closed</h4>
                <p>This listing has been closed. No further bids are accepted.</p>
            </div>
        {% endif %}
    {% endif %}
            
    <!--Listing Details-->
    <div class="mt-4">
        <h3 class="mb-4">Details</h3>
        <p>Listed by: <strong>{{ listing.listed_by }}</strong></p>
        <p>Category: <a href="{% url 'category_matches' listing.category.id %}">{{ listing.category }}</a></p>
    </div>

    <!--Comments-->
    <div class="mt-4">
        <!--List comments-->
        <h3 class="mb-4">Comments</h3>
        {% if comments %}
            {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ comment.user.username }}</strong></h5>
                        <p><small>{{ comment.datetime_submitted }}</small></p>
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-secondary" role="alert">
                <h6>No comments.</h6>
            </div>
        {% endif %}

        <!--Add a comment-->
        {% if user.is_authenticated %}   
            <div>
                <form method="post" action="{% url 'comment' listing.id %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        {% endif %}
    </div>

{% endblock body %}